body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF
}

h1,
h2,
h3,
h4,
h5.h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

button {
    cursor: pointer;
}

img{
    display: block;
}

.section {
    margin-bottom: 120px;
}

/* #region header */
.header-page{
 border-bottom: 1px solid #e7e9fc
}


.header-page .header-conteiner{
    display: flex;
    justify-content: space-between;
}

.header-conteiner{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #e7e9fc;
    width: 1158px;
    padding: 0 15px;
}


.nav-list{
    display: flex;
    gap: 40px;
    margin-right: 76px;
}

.nav-page{
    display: flex;
    align-items: center;
    padding: 24px 0 

}

.nav-item{
    padding: 24px 0;
}
.nav-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.nav-item-link:hover,
.nav-item-link:focus {
    color: #404bbf;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-studio {
    color: #2e2f42;
}

.address-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.address-list:hover,
.address-list:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-ul{
    display: flex;
    gap: 40px;
}


/* #endregion header */


/* #region section 1 */

.container{
    width: 1470px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-one{
    background-color: #2e2f42;
    padding: 188px 0;
}

.effect-sol {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #fff;
    padding-top: 191px;
    padding-bottom: 43px;
    padding-left: 472px;
    padding-right: 472px;
    max-width: 496px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin-bottom: 185px;
    margin-left: 635px;
    margin-right: 636px;
    display: block;
    min-width: 169px;
    height: 56px;
}

.button:hover,
.button:focus {
    background: #404bbf;
}

/* #endregion section 1*/

/* #region section 2 */

.feat{
    visibility: hidden;
}

.section-two{
    padding: 120px 0;
}

.list-feature{
    flex-basis: calc((100% - 72px) / 4)
}
.list-two{
    display: flex;
    gap: 24px;;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
}


.sec-two-logo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-sec-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion section 2 */

/* #region section three */


.our-team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    padding-top: 130px;
    padding-bottom: 72px;
    margin-bottom: 72px; 
}

.sec-list {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0px 0px 4px 4px; 
    width: calc((100% - 72px) / 4);
}


.section-three {
    background: #f4f4fd;
    padding: 120px 0;
}

.our-team-list{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    padding-bottom: 120px;
}

.text-list-three{
    padding: 32px 0;
    text-align: center;
}


.name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* padding-top: 32px; */
    /* text-align: center; */
    margin-bottom: 8px
}

.about-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
    /* text-align: center; */
}


/* #endregion section three*/

/*  #region section 4*/

.ourpor-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.our-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.h-four {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    margin-bottom: 8px;
}

.list-four{
    /* height: 420px; */
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    width: calc((100% - 48px) / 3);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.div-list-four{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;


}
.about-team{
    padding-top: 8px;
    padding-bottom: 32px;
}

.ourpor-section{
padding-top: 120px;
padding-bottom: 120px;
}


/* #endregion section 4*/

/* #region footer */
.footer {
    background: #2e2f42;
   height: 312px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
padding: 100px 0;
}
.logo-footer{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 8px;
    max-width: 264px
}

footer .logo-studio {
    color: #f4f4fd;
}

.footer-conteiner{
    width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.text-conteiner{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 264px;
    height: 112px;
}
/* #endregion footer */